
.signin {
        background-image: url("assets/layout/images/signin_bg.jpg");
        background-size: cover;
        height: 100vh;
       display: inline-table;
        header {
            &.trans {
                background: transparent;
                padding-top: 65px;
            }
        }
        .signin_wrap .si {
            background: $white;
            border-radius: 25px;
            margin-top: 110px;
            padding: 30px;
            h4 {
                font-size: 22pt;
                color: $graylight;
                font-family: $medfont;
                font-weight: 500;
                margin-bottom: 25px;
            }
            .acset a {
                color: $graylight;
                font-size: 12pt;
                font-weight: 600;
                display: inline-block;
                margin-top: 9px;
            }
            .btset {
                margin-top: 10px;
                margin-bottom: 10px;
                button {
                    background-color: transparent;
                    border: 0;
                    outline: none;
                    padding: 0;
                }
            }
            p.terms {
                font-size: 10pt;
                a {
                    color: $graylight;
                    font-weight: 600;
                }
            }
            .ftset {
                margin-top: 40px;
                p {
                    margin: 0 0 5px;
                    font-size: 11pt;
                    color: $graylight;
                }
            }
        }
    }
