@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$primary-blue: #00c0f3;
$secondary-blue: #00b4e6;
$graylight: #4f5b69;
$gray: #262c33;
$graydark: #1d2126;
$grayvlight: #edeef0;
$white: #ffffff;
$green: #0e9354;
$black: #000000;
$hlink: #606e80;
// $imgPath:			'../images/';
$medfont: 'teshrin_arltmedium',
sans-serif;
$lightfont: 'teshrin_arltlight',
sans-serif;