<div class="changepassword">
        <p-dialog header="Change Password" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '475px'}"  [closeOnEscape]="true"  (onHide)="onClose()">
    
            <form class="from_wrapper" [formGroup]="changepwdForm" novalidate>
                <div class="row inputset">
                    <h2 class="col-md-12 text-center">change password</h2>
                    <div class="col-sm-6"><label>Old Password</label></div>
                    <div class="col-sm-6"><input type="password" placeholder="********" formControlName="PWD" (keyup)="formvalidate()"></div>
                    <div class="col-sm-12">
                        <div *ngIf="changepwdForm.controls['PWD'].errors && !changepwdForm.controls['PWD'].pristine" class="text-danger error">
                            <div [hidden]="!changepwdForm.controls['PWD'].errors.required">Old Password Required</div>
                            <div [hidden]="!changepwdForm.controls['PWD'].errors?.minlength">Password Length Must be Grater Than 6</div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row inputset">
                    <div class="col-sm-6"><label>Re-Enter Password</label></div>
                    <div class="col-sm-6"><input type="password" placeholder="********" formControlName="NPWD" (keyup)="formvalidate()"></div>
                    <div class="col-sm-12">
                        <div *ngIf="changepwdForm.controls['NPWD'].errors && !changepwdForm.controls['NPWD'].pristine" class="text-danger error">
                            <div [hidden]="!changepwdForm.controls['NPWD'].errors.required">New Password Required</div>
                            <div [hidden]="!changepwdForm.controls['NPWD'].errors?.minlength">Password Length Must be Grater Than 6</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row inputset">
                    <div class="col-sm-6"><label>Re-Enter Password</label></div>
                    <div class="col-sm-6"><input type="password" placeholder="********" formControlName="confirmpassword" (keyup)="formvalidate()"></div>
                    <div class="col-sm-12">
                        <div *ngIf="changepwdForm.controls['confirmpassword'].errors && !changepwdForm.controls['confirmpassword'].pristine" class="text-danger error">
                            <div [hidden]="!changepwdForm.controls['confirmpassword'].errors.required">ConfirmPassword Required</div>
                            <div [hidden]="!changepwdForm.controls['confirmpassword'].errors?.mustMatch">ConfirmPassword MusT Match Password</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
    
                    <button class="line_btn sblue mr-4" [ngClass]="btndisable" [disabled]="changepwdForm.invalid" (click)="SaveChangePassword()">Submit</button>
                    <button (click)="redirectCustomer()" class="line_btn sblue">Cancel</button>
    
                </div>
            </form>
            <!-- <section class="changepassword text-center">
    
                <div class="center col-md-3">
                    <h2>change password</h2>
            
                    
                </div>
            </section>
         
             -->
    
    
        </p-dialog>
    
    </div>
    
    <p-toast></p-toast>