<section class="changepassword text-center">

    <div class="center col-md-3">
        <h2>change password</h2>

        <form class="from_wrapper text-left" [formGroup]="changepwdForm" (ngSubmit)="ChangePassword()" novalidate>

            <!-- <div class="row inputset">
                <div class="col-sm-6"><label>Old Password</label></div>
                <div class="col-sm-6"><input type="text" placeholder="email@domain.com" formControlName="Email"></div>
                <div class="col-sm-12">
                    <div *ngIf="changepwdForm.controls['Email'].errors && !changepwdForm.controls['Email'].pristine" class="error text-danger float-right">
                            <div [hidden]="!changepwdForm.controls['Email'].errors.required">Old Password Required</div>
                          </div>
            </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div> -->

            <div class="row inputset">
                <div class="col-sm-6"><label>Old Password</label></div>
                <div class="col-sm-6"><input type="password" placeholder="********" formControlName="PWD" (keyup)="formvalidate()"></div>
                <div class="col-sm-12">                    
                    <div *ngIf="changepwdForm.controls['PWD'].errors && !changepwdForm.controls['PWD'].pristine" class="text-danger error">
                            <div [hidden]="!changepwdForm.controls['PWD'].errors.required">Old Password Required</div>
                            <div [hidden]="!changepwdForm.controls['PWD'].errors?.minlength">Password Length Must be Grater Than 6</div>
                    </div>
              </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row inputset">
                <div class="col-sm-6"><label>Re-Enter Password</label></div>
                <div class="col-sm-6"><input type="password" placeholder="********" formControlName="NPWD" (keyup)="formvalidate()"></div>
                <div class="col-sm-12">
                        <div *ngIf="changepwdForm.controls['NPWD'].errors && !changepwdForm.controls['NPWD'].pristine" class="text-danger error">
                                <div [hidden]="!changepwdForm.controls['NPWD'].errors.required">New Password Required</div>
                                <div [hidden]="!changepwdForm.controls['NPWD'].errors?.minlength">Password Length Must be Grater Than 6</div>
                        </div>
              </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row inputset">
                <div class="col-sm-6"><label>Re-Enter Password</label></div>
                <div class="col-sm-6"><input type="password" placeholder="********" formControlName="confirmpassword" (keyup)="formvalidate()"></div>
                <div class="col-sm-12">
                        <div *ngIf="changepwdForm.controls['confirmpassword'].errors && !changepwdForm.controls['confirmpassword'].pristine" class="text-danger error">
                                <div [hidden]="!changepwdForm.controls['confirmpassword'].errors.required">ConfirmPassword Required</div>
                                <div [hidden]="!changepwdForm.controls['confirmpassword'].errors?.mustMatch">ConfirmPassword MusT Match Password</div>
                        </div>
              </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        <div class="row justify-content-center mt-4">
            
                <!-- <p-button class="line_btn sblue mr-4" label="Save" [disabled]="changepwdForm.invalid"></p-button> -->
            <!-- <a [routerLink]="['/changepassword']" class="line_btn sblue mr-4 disable" >Submit</a> -->

            <button [routerLink]="['/changepassword']" class="line_btn sblue mr-4" [ngClass]="btndisable"  [disabled]="changepwdForm.invalid">Submit</button>
            <button [routerLink]="['/customer/home']" class="line_btn sblue" >Cancel</button>
     
        </div>
    </form>  
    </div>
</section>
<p-toast></p-toast>