// .changepassword {
//     // background: #00bdef;
//     // height: 100%;
// }

// .changepassword .center {
//     background: white;
//     height: 470px;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: 20px;
//     padding: 60px 60px 30px 60px;
//     height: auto;
// }

// .changepassword .center img {
//     width: 155px;
//     margin-bottom: 24px;
// }

// .changepassword .center h2 {
//     color: #00c0f3;
//     font-size: 20pt;
//     margin-bottom: 30pt;
// }

// .changepassword label{
//     //color: #4f5b69;
//     font-size: 11pt;
// }

// .changepassword .center>p:last-child {
//     font-family: 'teshrin_arltmedium', sans-serif;
//     margin-top: 50px;
// }

// .changepassword .ftxt {
//     color: white;
//     position: absolute;
//     bottom: 2%;
//     text-align: center;
//     width: 100%;
//     font-family: 'teshrin_arltmedium', sans-serif;
//     padding: 0 20px;
// }

@media screen and (max-width: 475px) {
    .changepassword .center {
        padding: 30px 30px 0 30px;
    }
}


.disable{
    opacity: 0.5;
    pointer-events: none;
}

.line_btn {
    &.sblue {
         background-position: 8px 40px;
         background-color:transparent;
         border:none;
         outline: none;

             &:hover {
            background-position: 8px -20px;

        }
     
    }

   
}