<section class="success-bg text-center">

  <div _ngcontent-rql-c1="" class="center col-md-3"><h2 _ngcontent-rql-c1="">change password</h2>
    <div class="row">
    <div class="col-md-5">
        old password
    </div>
    <div class="col-md-7">
        <input type="text">
    </div>
    <div class="col-md-5">
        new password
    </div>
    <div class="col-md-7">
        <input type="text"">
    </div>
    <div class="col-md-5">
        confirm password
    </div>
    <div class="col-md-7">
        <input type="text">
    </div>
    <div class="row text-center">
        <button>Cancel</button>
    <button>Submit</button>
     </div>
        </div>
        </div>
  

</section>