<p-toast></p-toast>
<main>
    <section class="home_banner">

        <ngu-carousel #headerCarousel [inputs]="carouselConfig" [dataSource]="headercarouselItems">
            <div *nguCarouselDef="let item;" class="item">
                <div class="item" [ngStyle]="{'background-image':'url('+item.image+')'}">
                    <div class="text_container">
                        <div class="container">

                            <div class="row">
                                <div class="col-sm-12 col-xl-12 p-o">
                                    <h1>{{ 'allyourfavourite' | translate }}<br/> {{ 'brandsinoneplace' | translate }} <br/><strong>{{ 'shoptheworld'  | translate }}</strong></h1>

                                    <p><a [routerLink]="['/customer/shop-by-category']" class="line_btn blue">{{ 'Explorecategories' | translate }}</a></p>

                                    <p><a href="#" class="line_btn blue">{{ 'Explorecategories' | translate }}</a></p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- <button NguCarouselNext class="rightRs">></button>
    <button NguCarouselPrev class="leftRs"><</button> -->
            <!-- <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
    </ul> -->
        </ngu-carousel>
    </section>
    <section class="qkLinks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="ql">

                        <li class=" it">
                            <a [routerLink]="['/customer/deals-promotions']"></a>
                            <h2>{{ 'Deals' | translate }} <br/>{{ '&promotions' | translate }} </h2>
                            <i class="icomoon icon-offer"></i>

                        </li>
                        <li class=" it">
                            <a [routerLink]="['/customer/shopping']"></a>
                            <h2>{{ 'Track' | translate }} <br/>{{ 'yourpackage' | translate }} </h2>
                            <i class="icomoon icon-tracking"></i>

                        </li>
                        <li class="it">
                            <a [routerLink]="['/customer/customer-service']"></a>
                            <h2>{{ 'Customer' | translate }} <br/>{{ 'Service' | translate }}</h2>
                            <i class="icomoon icon-cust_serv"></i>

                        </li>
                        <li class="it">
                            <a [routerLink]="['/customer/payment-methods']"></a>
                            <h2>{{'Payment' | translate }}<br/>{{ 'methods' | translate }}</h2>
                            <i class="icomoon icon-payment"></i>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="offerbadge">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ob">
                        <p>{{ 'Dontmissoutonthelatestoffer' | translate }}</p>
                        <h1>{{ '35%offselecteditems*' | translate }}</h1>
                        <small>{{ '*Terms&condtionsapply.' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>
    </section>

<app-categoriesslider [childMessage]="parentMessage"></app-categoriesslider>


    <section class="fbConnect">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 fbimg">
                    <img [src]="fb_badge_img" alt="connect" />
                </div>
                <div class="col-lg-6 fbtxt">
                    <h2>{{ 'connectyour' | translate }} <br/>{{ 'Facebookaccount' | translate }}</h2>
                    <p>{{ 'Seewhatyourfriendsare' | translate }} <br/>{{ 'shopping,getsuggestions' | translate }} <br/>{{ 'andrecommendations' | translate }}</p>
                    <a [routerLink]="['/customer/home']" class="line_btn swhite">{{ 'Connectnow' | translate }}</a>
                </div>
            </div>
        </div>
    </section>
</main>