<section>
<div class="container-fluid">

        <p-table [columns]="cols" #dt selectionMode="single" [(selection)]="selectedcategory" 
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [value]="categorylist">
        <ng-template pTemplate="caption">
                Categories
            </ng-template>
            <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix" style="float: left;">
                           <span>Categories List</span>
                        </div>
                  <div class="ui-helper-clearfix">
                      
                      <!-- <button type="button" pButton icon="fa fa-file-o" label="Import Excel" (click)="dt.exportCSV()" style="float: right;"></button> -->
                      <button type="button" pButton icon="fa fa-plus" label="Add" (click)="Addcategories()" style="float: right; margin-right: 10px;"></button>
                  </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
        </p-table>
        
</div>
</section>


<app-add-categories [display]="display" (displayChange)="onDialogClose($event)"></app-add-categories>


<div class="changepassword">
        <p-dialog header="Edit Categories" [(visible)]="editcatdisplay" [modal]="true" [responsive]="true" [style]="{width: '475px'}"  [closeOnEscape]="true"  (onHide)="onClose()">
     
            <form class="from_wrapper" [formGroup]="categoryForm" novalidate>

                    <div class="row inputset">
                            <h2 class="col-md-12 text-center">Edit Category</h2>
                            <div class="col-sm-6"><label> ID</label><span class="required">*</span></div>
                            <div class="col-sm-6">
                                    <input id="input" type="text" formControlName="Id" readonly > 
                            </div>
                            <div class="col-sm-12">
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>

                <div class="row inputset">
                   
                    <div class="col-sm-6"><label>Name</label><span class="required">*</span></div>
                    <div class="col-sm-6"><input id="input" type="text" formControlName="Name" (keyup)="formvalidate()"> </div>
                    <div class="col-sm-12">
                        <div *ngIf="categoryForm.controls['Name'].errors && !categoryForm.controls['Name'].pristine" class="text-danger float-right error">
                            <div [hidden]="!categoryForm.controls['Name'].errors.required">Category Name Required</div>
                           
                        </div>
                    </div>
     
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row inputset">
                    <div class="col-sm-6"><label> Priority</label><span class="required">*</span></div>
                    <div class="col-sm-6">
                       <p-dropdown [options]="categorypriority" formControlName="Priority" [autoWidth]="false" [filter]="false">          
                          <option *ngFor="let c of categorypriority" [ngValue]="c">{{c}}</option>
                      </p-dropdown>  
                    </div>
                    <div class="col-sm-12">
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row inputset">
                    <div class="col-sm-6"><label>Status</label><span class="required">*</span></div>
                    <div class="col-sm-6">
                          <p-dropdown [options]="categorystatus" formControlName="IsActive" [autoWidth]="false"  [filter]="false">          
                                <option *ngFor="let c of categorystatus" [ngValue]="c">{{c}}</option>
                            </p-dropdown>   
                    </div>
                    <div class="col-sm-12">
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
     
                <div class="row inputset">
                    <div class="col-sm-6"><label>Category Image</label></div>
                    <div class="col-sm-6">

                <input type="file" #edituploader (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" class="" [hidden]=true />

                   <button type="button" (click)="edituploader.click()" pButton label="Upload Image" class="btn btn-primary float-right mt-2"  data-toggle="modal" data-target="#editModal" class="btn-small text-right float-right" ></button>                                
                    </div>
                    <div class="col-sm-12"><hr></div>
                  </div>
     
                  <div class="row inputset">
                        <div class="col-sm-12">
                                <img [src]="finalImage" class="uploadimgsty" />
                        </div>
               </div>
     
                <div class="row justify-content-center mt-4">
     
                    <button class="line_btn sblue mr-4" [ngClass]="btndisable" (click)="updateCategory()">Update</button>
                    <button class="line_btn sblue" (click)="redirectcustomertable()">Cancel</button>
     
                </div>
            </form>
        </p-dialog>
     </div>

<!-- <app-image-upload [display]="imgdisplay" (displayChange)="onimgDialogClose($event)"></app-image-upload> -->

<div class="modal" id="editModal">
        <div class="modal-dialog">
          <div class="modal-content">         
            <div class="modal-header">
              <h4 class="modal-title">Profile Photo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        
            <div class="modal-body">
                    <div class="row inputset">

                           <div class="col-sm-12">
                                <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 3"
                                [resizeToWidth]="150"
                                [resizeToHeight]="150"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()"
                                (loadImageFailed)="loadImageFailed()"
                                [roundCropper]="true"
                            ></image-cropper>
                           </div>
                            <div class="col-sm-12">
                                    <img [src]="croppedImage" class="uploadimgsty" />
                            </div>
                        </div>
            </div>

            <div class="modal-footer">
                    <button type="button" (click)="saveCropImage()" pButton icon="pi pi-info-circle" label="Save" class="btn btn-primary btn-sm" data-dismiss="modal" ></button>
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      
<p-toast></p-toast>