.disable{
    opacity: 0.5;
    pointer-events: none;
}

.line_btn {
    &.sblue {
         background-position: 8px 40px;
         background-color:transparent;
         border:none;
         outline: none;

             &:hover {
            background-position: 8px -20px;

        }
     
    }

   
}

.error{
    font-size: 11px;
}

.required{
    color: red;
}