

<header>
    <div class="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="ilinks">
                        <li><a [routerLink]="['/customer/our-story']">{{ 'Ourstory' | translate }}</a></li>
                        <li><a [routerLink]="['/customer/how-dunyana-works']">{{ 'HowDunyanaworks' | translate }}</a></li>
                        <li><a [routerLink]="['/merchants/registration']">{{ 'Becomeaseller' | translate }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="float-right text-right ml-2">
                            <li>
                                <img [src]="englnfimg" class="langiconsty" width="20" height="20" [hidden]="englicon" [ngClass]="{ blur: lang == 'es' }" (click)="toggleLang('en')" alt="EN" class="lang-item " />
                                <img [src]="spanlanimg" class="langiconsty" width="20" height="20" [hidden]="!englicon" [ngClass]="{ blur: lang == 'en' }" class="lang-item lang-item--es marg-right-20" (click)="toggleLang('ar')" alt="arbic" />
                            </li>
                        </ul>


                    <div>
                        <ul class="lang">

                            <li class="search"><a id="srhLink" (click)="displaysearch()">{{ 'Search' | translate }}</a></li>
                            <!-- <li><a href="javascript:void(0)" class="langSel" (click)="toggleLang(lang); displaylang()">{{translate.store.currentLang =='en' ? 'English':'العربية'}}</a></li> -->
                            <li><a href="javascript:void(0)" class="langSel">{{currentlang}}</a></li>

                        </ul>
                        <div class="search_container" [ngClass]="showDiv">
                            <input type="text" placeholder="{{ 'Searchbrands' | translate }}" />
                            <a class="closebtn" (click)="closesearch()"></a>
                            <a class="filterbtn"></a>
                        </div>

                        <!-- <div class="lang_container" [ngClass]="showlngDiv">                           

                     
                            <ul>
                                <li><a (click)="toggleLang('ar')">العربية</a></li>
                                <li><a (click)="toggleLang('en')">English</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a [routerLink]="['/customer/home']" class="site-logo"><img [src]="lang =='en' ? 'assets/layout/images/header_logo.png':'assets/layout/images/header_logo_ar.png'" alt="dunyaya" /></a>
                </div>
                <div class="col-sm-6 right-align">
                    <ul class="user-actions">
                        <li class="cat"><a  href="javascript:void(0)" (click)="shopbycategory()" >{{ 'Shopby' | translate }} <strong>{{ 'Category' | translate }}</strong></a></li>
                        <!-- <li class="del"><a [routerLink]="['/customer/test']">{{ 'Deliverto' | translate }} <strong>{{ 'SaudiArabia' | translate }}</strong><i class="icon-arrows"></i> </a></li> -->
                        <li class="ac" [hidden]="islogin"><a [routerLink]="['/signin']">{{ 'Hithere' | translate }},  <strong>{{ 'Signin' | translate }}</strong></a></li>
                        <li class="ac" [hidden]="!islogin" [routerLink]="['/customer/customeraccount']"><a>{{'Welcome' | translate}}{{' '|translate}}{{ useremail | translate }},  <strong>{{ 'Account' | translate }}</strong></a></li>
                        <li class="ac" [hidden]="!islogin" (click)=logout()>
                            <a> <strong>{{ 'Logout' | translate }}</strong></a>
                        </li>
                        <li class="cart" style="display: none">
                            <div class="icon-cart"><span>12</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>