<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-7 comp_info">
              <a href="index.html"><img [src]="imgfooter" alt="dunyana" /></a>
              <p>+966 345 678 903<br> <a href="mailto:info@dunyana.com">info@dunyana.com</a></p>
              <ul class="social">
                  <li><a href="#"><i class="icomoon icon-fb_logo"></i></a></li>
                  <li><a href="#"><i class="icomoon icon-twitter_logo"></i></a></li>
                  <li><a href="#"><i class="icomoon icon-insta_logo"></i></a></li>

              </ul>
          </div>
          <div class="col-md-5 ftlinks">
              <ul>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Ordering & Payment</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">About Dunyana</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Press Enquiries</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 ftdivider">

          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 fttxt">
              <p>&copy; Dunyana. All Rights Reserved. 2019.</p>
          </div>
      </div>
  </div>
</footer>