<section class="home_banner shopping_banner">
    
    <ngu-carousel #headerCarousel [inputs]="carouselConfig" [dataSource]="headercarouselItems">
        <div *nguCarouselDef="let item;" class="item">
            <div class="item" [ngStyle]="{'background-image':'url('+item.image+')'}">
                <div class="text_container">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12 col-xl-12 p-o">
                              <h1>{{ 'allyourfavourite' | translate }}<br/> {{ 'brandsinoneplace' | translate }} <br/><strong>{{ 'shoptheworld'  | translate }}</strong></h1>

                                <p><a [routerLink]="['/customer/shop-by-category']" class="line_btn lwhite">{{ 'Explorecategories' | translate }}</a></p>

                                <p><a href="#" class="line_btn lwhite">{{ 'Explorecategories' | translate }}</a></p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <button NguCarouselNext class="rightRs">></button>
  <button NguCarouselPrev class="leftRs"><</button> -->
        <!-- <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
  </ul> -->
    </ngu-carousel>
</section>

<section class="qkLinks">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ul class="ql">

                    <li class=" it">
                        <a href="#"></a>
                        <h2 class="text-center">Eid offers</h2>
                        <h1 class="text-center">Buy 2 and get 1 free*</h1>
                        <p class="text-center">*Terms & condtions apply.</p>
                        <i class="icomoon icon-light"></i>
                        <i class="icomoon icon-light second"></i>
                        <i class="icomoon icon-moon"></i>

                    </li>


                </ul>

            </div>
        </div>

    </div>

</section>


<app-categoriesslider></app-categoriesslider>

<section>
    <div class="container-fluid">
        <hr/>
    </div>
</section>


<section class="category brands">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2>Merchants</h2>
                <p class="text-center let-space">
                    <span *ngFor="let char of alphabetpaging" (click)="Filterbyalphabet(char)">{{char}}</span>
                </p>
            </div>
        </div>
        <hr/>
    </div>


</section>


<section class="">
    <div class="container-fluid">
            <div class="loading-indicator mid" *ngIf="ProgressSpinnerDlg">
                    <p-progressSpinner></p-progressSpinner>
                </div>
        <div class="row">
            <div class="col-md-6" *ngFor="let merchant of pagedItems">
                <div class="card mb-4 box-shadow"><img alt="Thumbnail [100%x225]" class="card-img-top" src="{{merchant.merchantimage}}">
                    <div class="card-body">
                        <p class="card-text">{{merchant.merchantname}}</p>
                    </div>
                </div>
            </div>

        </div>
         <!-- pager -->
         <div class="col-md-12 text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>

        </div>
        
        <div class="no-orders" [hidden]="isempty">
            <span>NO Records Found</span>
        </div>
    </div>
             
</section>



<!-- <div class="overlay" *ngIf="ProgressSpinnerDlg" ></div> -->