section.shopping_banner {
    .item {
        .text_container {
            .line_btn {
                margin-top: 320px;
            }
        }
    }
}

section.shopping_banner {
    .item {
        height: 740px;
    }
}

section.qkLinks {
    .ql {
        .it {
            h2 {
                font-family: 'teshrin_arltlight';
                margin-bottom: 0;
                margin-top: 30px;
            }
            h1 {
                font-family: 'teshrin_arltmedium';
            }
            overflow: hidden;
            i.icon-light {
                right: 7%;
                left: unset;
                font-size: 215px;
                top: -32%;
            }
            i.second {
                right: 15%;
                left: unset;
                font-size: 275px;
                top: -25%;
            }
            i.icon-moon {
                font-size: 170px;
                left: 10%;
            }
        }
    }
}

section.brands {
    padding-bottom: 45px;
    p {
        color: #4f5b69;
        font-size: 18pt;
    }
    hr {
        opacity: 0.5;
    }
    .let-space {
        letter-spacing: 1pt;
    }
}

.card-body {
    padding: 2rem;
    background: #4f5b69;
    color: white;
    font-size: 14pt;
    font-family: 'teshrin_arltmedium';
}

