
<section class="accounts">
  <div class="text_container">
      <div class="container">

          <div class="row">
              <div class="col-xl-12 leftPanel">

                  <h2>Become a <span class="font-weight-bold">Seller</span></h2>
                  <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut finibus ligula, et vestibulum libero. Maecenas lectus diam, sagittis in iaculis et, ultrices eget mi. Mauris quam leo, auctor eget sapien sit amet, ullamcorper elementum
                      mauris. Vivamus euismod lorem sed diam vehicula, eu feugiat arcu vestibulum. Nam eu purus aliquam dolor lobortis sollicitudin rutrum at tellus. In lobortis massa sodales neque congue consectetur. Morbi tempus vel lacus id tincidunt.</p>

              </div>


          </div>

      </div>
  </div>


</section>