
   <section class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2>Shop by category</h2>
                <ngu-carousel #categoryCarousel [inputs]="categorycarouselConfig" [dataSource]="categorycarouselItems">
                    <div *nguCarouselDef="let item;" class="item wd">
                        <div class="cattile" [ngStyle]="{'background-image':'url('+item.img+')'}" (click)="navigatetocategory(item.name)">
                            <p class="sliderimg-txt">{{item.name}}</p>
                        </div>
                    </div>
                    <button NguCarouselNext class="rightRs">></button>
                    <button NguCarouselPrev class="leftRs"><</button>
                
                </ngu-carousel>
            </div>
        </div>
    </div>
</section>