
   <!-- <section class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                 <h2>{{'Shopbycategory' | translate }} </h2>
                <ngu-carousel #categoryCarousel [inputs]="categorycarouselConfig" [dataSource]="categorycarouselItems">
                    <div *nguCarouselDef="let item;" class="item wd">
                        <div class="cattile" [ngStyle]="{'background-image':'url('+item.img+')'}" (click)="navigatetocategory(item.name)">
                            <p class="sliderimg-txt">{{item.name}}</p>
                        </div>
                    </div>
                    <button NguCarouselNext class="rightRs">></button>
                    <button NguCarouselPrev class="leftRs"><</button>
                
                </ngu-carousel>
            </div>
        </div>
    </div>
</section> -->


<section class="container-fluid carouselSlider category">
        <h2>{{ childMessage }}</h2>
        <p-carousel headerText="items" [value]="items" numVisible="5" responsive="true" circular="true">
            <ng-template let-item pTemplate="item">
                <div class="ui-grid ui-grid-responsive imgsty" (click)="navigatetocategory(item.name)">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="{{item.image}}" width="210" class="radius"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12 desc">{{item.name | translate }}</div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </section>
