<section class="accounts">
    <div class="text_container">
        <div class="container">

            <div class="row">
                <div class="col-xl-12 leftPanel">

                    <h2>Deals And Promotions <span class="font-weight-bold"></span></h2>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut finibus ligula, et vestibulum libero. Maecenas lectus diam, sagittis in iaculis et, ultrices eget mi. Mauris quam leo, auctor eget sapien sit amet, ullamcorper elementum
                        mauris. Vivamus euismod lorem sed diam vehicula, eu feugiat arcu vestibulum. Nam eu purus aliquam dolor lobortis sollicitudin rutrum at tellus. In lobortis massa sodales neque congue consectetur. Morbi tempus vel lacus id tincidunt.</p>

                </div>
            </div>


            <section class="category brands">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <span class="text-center let-space" *ngFor="let char of alphabetpaging" (click)="Filterbyalphabet(char)">{{char}}</span>
                            <!-- <p class="text-center let-space"># <strong>A</strong> B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p> -->
                        </div>
                    </div>
                    <hr/>
                </div>
            
            
            </section>
            <!-- <div class="row">
               <div>
                   <span *ngFor="let char of alphabetpaging" (click)="Filterbyalphabet(char)">{{char}}</span>
               </div>
            </div> -->

            <section class="row">

                <div class="col-md-6" *ngFor="let deal of pagedItems">
                    <div class="card mb-4 box-shadow"><img alt="Thumbnail [100%x225]" class="card-img-top" [src]="deal.image">
                        <div class="card-body">
                            <p class="card-text">{{deal.name}}</p>
                        </div>
                    </div>
                </div>

                <!-- pager -->
                <div class="col-md-12 text-center">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>

                </div>


            </section>

        </div>
    </div>


</section>