<section class="signin">
  <p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'3000ms'"></p-toast>
<header class="trans">
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a [routerLink]="['/customer/home']" class="site-logo"><img [src]="headerlogo" alt="dunyaya" /></a>
            </div>
        </div>
    </div>
</div>
</header>
<main>
  <section class="signin_wrap">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 p-0">
                <div class="si">
                
                    <!-- <a class="backBtn" href="#demo" data-slide="prev">
                        <i class="icomoon icon-arrows"></i>
                    </a> -->
                    <h4 class="">Become a Seller</h4>


                    <form class="from_wrapper" [formGroup]="merchantForm" (ngSubmit)="addmerchent()" novalidate #myform="ngForm">

                        <div id="demo" class="carousel" data-ride="carousel" data-interval="false">
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>                              
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">


                                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <div class="row inputset">
                                        
                                        <div class="col-sm-12"><input type="text"  pInputText formControlName="Name" placeholder="Name" (keyup)="formvalidate()" class="w-100"> </div>
                                        <div class="col-sm-12">

                                            <!-- <p *ngIf="merchantForm.get('Name').hasError('required') && merchantForm.submitted">Name is required</p> -->

                                            <div *ngIf="merchantForm.controls['Name'].errors && !merchantForm.controls['Name'].pristine" class="text-danger error">
                                                    <div [hidden]="!merchantForm.controls['Name'].errors.required">Seller Name Required</div>
                                                    
                                                </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                                        
                                        <div class="col-sm-12 upl-btn">
                                            <input type="file" #uploader (change)="fileChangeEvent($event)" placeholder="Icon Image" class="" [hidden]=true />
                                            <input type="text" placeholder="Icon Image" class="w-50" disabled>
                                            <button type="button" (click)="uploader.click()"  label="Upload"  data-toggle="modal" data-target="#myModal" class="btn-small float-right" >Upload</button>                                
        
                                        </div>
                                        <div class="col-sm-12  ht" [ngClass]="popup">
                                                <img [src]="finalImage" class="uploadimgsty" />
                                            
                                            <hr>
                                        
                                        </div>
                                      </div>
        
                                
                                    <div class="row inputset">
                                     
                                        <div class="col-sm-12"><input placeholder="Company" type="text"  formControlName="Company" (keyup)="formvalidate()" class="w-100" /></div>
                                        <div class="col-sm-12">
                                            <div *ngIf="merchantForm.controls['Company'].errors && !merchantForm.controls['Company'].pristine" class="text-danger error">
                                                <div [hidden]="!merchantForm.controls['Company'].errors.required">Company Name Required</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">

                                        <div class="col-sm-12 upl-btn">
                                            <input type="file" placeholder="Icon Image" #uploader (change)="fileChangeEvent($event)" class="" [hidden]=true />
                                            <input type="text" placeholder="Icon Image" class="w-50" disabled>
                                            <button type="button" (click)="uploader.click()"  label="Upload"  data-toggle="modal" data-target="#myModal1" class="btn-small float-right" >Upload</button>                                
        
                                        </div>
                                        <div class="col-sm-12  ht" [ngClass]="popup">
                                                <img [src]="iconimage" class="uploadimgsty" />
                                            
                                            <hr>
                                        
                                        </div>
                                      </div>
        
                                       <!-- <div class="row inputset">
                                            <div class="col-sm-12">
                                                    <img [src]="finalImage" class="uploadimgsty" />
                                            </div>
                                        </div>  -->

                                </div>
                                <div class="carousel-item">

                                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <div class="row inputset">
                                        
                                        <div class="col-sm-12"><input placeholder="Website link" type="text" formControlName="Website" (keyup)="formvalidate()" /></div>
                                        <div class="col-sm-12">
                                            <div *ngIf="merchantForm.controls['Website'].errors && !merchantForm.controls['Website'].pristine" class="text-danger error">
                                                <div [hidden]="!merchantForm.controls['Website'].errors.required">Email Required</div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
             
                                        <div class="col-sm-12"><input placeholder="Email" type="text" formControlName="emailid" (focusout)="CheckEmail()" (keyup)="formvalidate()" /></div>
                                        <div class="col-sm-12">
                                            <div *ngIf="merchantForm.controls['emailid'].errors && !merchantForm.controls['emailid'].pristine" class="text-danger error">
                                                <div [hidden]="!merchantForm.controls['emailid'].errors.required">Email Required</div>
                                                <!-- <div  [hidden]="!merchantForm.controls['emailid'].errors?.email">Email must be a valid email address</div> -->
                                                <div [hidden]="!merchantForm.controls['emailid'].errors?.pattern">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                                      
                                        <div class="col-sm-12"><input type="password" placeholder="Password" formControlName="password" (keyup)="formvalidate()" /></div>
                                        <div class="col-sm-12">
                                            <div *ngIf="merchantForm.controls['password'].errors && !merchantForm.controls['password'].pristine" class="text-danger error">
                                                <div [hidden]="!merchantForm.controls['password'].errors.required">Password Required</div>
                                                <div [hidden]="!merchantForm.controls['password'].errors?.minlength">Password Length Must be Grater Than 6</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                              
                                        <div class="col-sm-12"><input placeholder="Confirm Password" type="password"  formControlName="confirmpassword" (keyup)="formvalidate()"/></div>
                                       <div class="col-sm-12">
                                              <div *ngIf="merchantForm.controls['confirmpassword'].errors && !merchantForm.controls['confirmpassword'].pristine" class="text-danger error-msg float-right">
                                                      <div [hidden]="!merchantForm.controls['confirmpassword'].errors.required">ConfirmPassword Required</div>
                                                      <div [hidden]="!merchantForm.controls['confirmpassword'].errors?.minlength">ConfirmPassword Length Must be Grater Than 6</div>
                                                      <div [hidden]="!merchantForm.controls['confirmpassword'].errors?.mustMatch">ConfirmPassword MusT Match Password</div>
                                              </div>
                                       </div>
                                        <div class="col-sm-12"><hr></div>
                                </div>

                                </div>
                                <div class="carousel-item">
                                
                                     
                                    <div class="row inputset">
                                      
                                        <div class="col-sm-12">
                                            <p-dropdown [options]="categories" formControlName="categories" placeholder="Categories" [autoWidth]="false"  [filter]="false">
                                            
                                            </p-dropdown>
                                         
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                                      
                                        <div class="col-sm-12">
                                            <p-dropdown [options]="countries" formControlName="country" Placeholder="Country" [autoWidth]="false"  [filter]="false">
                                                   
                                            </p-dropdown>
                                         
                                        </div>
                                        <div class="col-sm-12" >
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                                       
                                        <div class="col-sm-12">
                                             <p-dropdown [options]="countries"  formControlName="country" placeholder="Which country are you from" [autoWidth]="false"  [filter]="false">
                                            
                                        </p-dropdown>
                                    </div>
                                        
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>
                                          
                                    <div class="row inputset">
                                        
                                        <div class="col-sm-12">
                                                <p-dropdown [options]="countries" placeholder="Where do you want to Sell" formControlName="Sell" [autoWidth]="false"  [filter]="false">
                                                      
                                                    </p-dropdown>
                                        </div>
                                        
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row inputset">
                                      
                                       
                                        <div class="col-sm-12">
                                                <p-dropdown [options]="countries" placeholder="Products you want to sell" formControlName="Sell" [autoWidth]="false"  [filter]="false">
                                                      
                                                    </p-dropdown>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <!-- <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a> -->
                        </div>

                   
                        <div class="row btns">
                            <div class="col-sm-9 m-auto">
                                <!-- <p-button class="line_btn sblue" [ngClass]="btndisable" label="Next"></p-button> -->
                                <button type="submit" class="line_btn sblue" [ngClass]="btndisable">Next</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
</main>
<footer class="trans">
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <p>Photo by Jolly Chic.<strong> Shop this look</strong>.</p>
        </div>
    </div>
</div>

</footer>
</section>

<!-- The Modal -->
 
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">         
            <div class="modal-header">
              <h4 class="modal-title">Profile Photo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        
            <div class="modal-body">
                    <div class="row inputset">

                           <div class="col-sm-12">
                                <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 3"
                                [resizeToWidth]="150"
                                [resizeToHeight]="150"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()"
                                (loadImageFailed)="loadImageFailed()"
                                [roundCropper]="true"
                            ></image-cropper>
                           </div>
                            <div class="col-sm-12">
                                    <img [src]="croppedImage" class="uploadimgsty" />
                            </div>
                        </div>
            </div>

            <div class="modal-footer">
                    <button type="button" (click)="saveCropImage()"   class="btn btn-primary btn-sm" data-dismiss="modal" >Save</button>
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      <div class="modal" id="myModal1">
            <div class="modal-dialog">
              <div class="modal-content">         
                <div class="modal-header">
                  <h4 class="modal-title">Profile Photo</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
            
                <div class="modal-body">
                        <div class="row inputset">
    
                               <div class="col-sm-12">
                                    <image-cropper
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="4 / 3"
                                    [resizeToWidth]="150"
                                    [resizeToHeight]="150"
                                    format="png"
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()"
                                    (loadImageFailed)="loadImageFailed()"
                                    [roundCropper]="true"
                                ></image-cropper>
                               </div>
                                <div class="col-sm-12">
                                        <img [src]="croppediconImage" class="uploadimgsty" />
                                </div>
                            </div>
                </div>
    
                <div class="modal-footer">
                        <button type="button" (click)="saveiconCropImage()"   class="btn btn-primary btn-sm" data-dismiss="modal" >Save</button>
                  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
    
              </div>
            </div>
          </div>
 
<div class="loading-indicator" *ngIf="ProgressSpinnerDlg">
      <p-progressSpinner></p-progressSpinner>
</div>


